Importacion de librerias

In [70]:
import pandas as pd
pd.__version__

'2.2.2'

In [71]:
import numpy as np
np.__version__

'1.26.4'

In [72]:
import matplotlib.pyplot as plt

Lectura de datos

In [73]:
df_accidents = pd.read_csv('../datasets/accidents_2017.csv')
df_airquality = pd.read_csv('../datasets/air_quality_Nov2017.csv')
df_airstations = pd.read_csv('../datasets/air_stations_Nov2017.csv')
df_births = pd.read_csv('../datasets/births.csv')
df_busstops = pd.read_csv('../datasets/bus_stops.csv')
df_deaths = pd.read_csv('../datasets/deaths.csv')
df_inmigrants_nationality = pd.read_csv('../datasets/immigrants_by_nationality.csv')
df_inmigrants_age = pd.read_csv('../datasets/immigrants_emigrants_by_age.csv')
df_inmigrants_destination1 = pd.read_csv('../datasets/immigrants_emigrants_by_destination.csv')
df_inmigrants_destination2 = pd.read_csv('../datasets/immigrants_emigrants_by_destination2.csv')
df_inmigrants_sex = pd.read_csv('../datasets/immigrants_emigrants_by_sex.csv')
df_life_expectancy = pd.read_csv('../datasets/life_expectancy.csv')
df_baby_names = pd.read_csv('../datasets/most_frequent_baby_names.csv')
df_frequent_names = pd.read_csv('../datasets/most_frequent_names.csv')
df_population = pd.read_csv('../datasets/population.csv')
df_transports = pd.read_csv('../datasets/transports.csv')
df_unemployment = pd.read_csv('../datasets/unemployment.csv')

In [74]:
df_accidents.head()

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360886
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365

In [75]:
df_airquality.head()

,Station,Air Quality,Longitude,Latitude,O3 Hour,O3 Quality,O3 Value,NO2 Hour,NO2 Quality,NO2 Value,PM10 Hour,PM10 Quality,PM10 Value,Generated,Date Time
0,Barcelona - Sants,Good,2.1331,41.3788,NaN,NaN,NaN,0h,Good,84.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104
1,Barcelona - Eixample,Moderate,2.1538,41.3853,0h,Good,1.0,0h,Moderate,113.0,0h,Good,36.0,01/11/2018 0:00,1541027104
2,Barcelona - Gràcia,Good,2.1534,41.3987,0h,Good,10.0,0h,Good,73.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104
3,Barcelona - Ciutadella,Good,2.1874,41.3864,0h,Good,2.0,0h,Good,86.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104
4,Barcelona - Vall Hebron,Good,2.1480,41.4261,0h,Good,7.0,0h,Good,69.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104

In [76]:
df_airstations.head()

,Station,Longitude,Latitude,Ubication,District Name,Neighborhood Name
0,Barcelona - Ciutadella,2.1874,41.3864,Parc de la Ciutadella,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera"
1,Barcelona - Eixample,2.1538,41.3853,Av. Roma - c/ Comte Urgell,Eixample,la Nova Esquerra de l'Eixample
2,Barcelona - Gràcia,2.1534,41.3987,Plaça Gal·la Placídia (Via Augusta - Travesser...,Gracia,la Vila de Gracia
3,Barcelona - Palau Reial,2.1151,41.3875,c/ John Maynard Keynes - c/ de Jordi Girona,Les Corts,Pedralbes
4,Barcelona - Poblenou,2.2045,41.4039,Plaça Josep Trueta (Pujades - Lope de Vega),Sant Marti,el Poblenou

In [77]:
df_births.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Number
0,2017,1,Ciutat Vella,1,el Raval,Boys,283
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Boys,56
2,2017,1,Ciutat Vella,3,la Barceloneta,Boys,51
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Boys,90
4,2017,2,Eixample,5,el Fort Pienc,Boys,117

In [78]:
df_busstops.head()

,Code,Transport,Longitude,Latitude,Bus.Stop,District.Name,Neighborhood.Name
0,K014,Day bus stop,2.171619,41.413744,BUS -192--,Horta-Guinardó,el Guinardó
1,K014,Day bus stop,2.134902,41.420222,BUS -124--,Gràcia,Vallcarca i els Penitents
2,K014,Day bus stop,2.162913,41.423187,BUS -117--,Horta-Guinardó,la Font d'en Fargues
3,K014,Day bus stop,2.163667,41.422899,BUS -117--,Horta-Guinardó,la Font d'en Fargues
4,K014,Day bus stop,2.120212,41.397209,BUS -130--,Sarrià-Sant Gervasi,Sarrià

In [79]:
df_deaths.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,0-4,1
1,2017,1,Ciutat Vella,2,el Barri Gòtic,0-4,1
2,2017,1,Ciutat Vella,3,la Barceloneta,0-4,0
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",0-4,0
4,2017,2,Eixample,5,el Fort Pienc,0-4,0

In [80]:
df_inmigrants_nationality.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
0,2017,1,Ciutat Vella,1,el Raval,Spain,1109
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Spain,482
2,2017,1,Ciutat Vella,3,la Barceloneta,Spain,414
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spain,537
4,2017,2,Eixample,5,el Fort Pienc,Spain,663

In [81]:
df_inmigrants_age.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Age,Immigrants,Emigrants
0,2017,1,Ciutat Vella,1,el Raval,0-4,154,108
1,2017,1,Ciutat Vella,2,el Barri Gòtic,0-4,58,33
2,2017,1,Ciutat Vella,3,la Barceloneta,0-4,38,37
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",0-4,56,55
4,2017,2,Eixample,5,el Fort Pienc,0-4,79,60

In [82]:
df_inmigrants_destination1.head()

               from         to  weight
0            Abroad  Barcelona   53085
1         Andalusia  Barcelona    2416
2            Aragon  Barcelona     811
3          Asturias  Barcelona     323
4  Balearic Islands  Barcelona    1634

In [83]:
df_inmigrants_destination2.head()

           from                  to  weight
0  Ciutat Vella           Andalusia     188
1  Ciutat Vella              Aragon      64
2  Ciutat Vella      Canary Islands      95
3  Ciutat Vella           Cantabria      17
4  Ciutat Vella  Castilla-La Mancha      23

In [84]:
df_inmigrants_sex.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Immigrants,Emigrants
0,2017,1,Ciutat Vella,1,el Raval,Male,3063,1195
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,1499,427
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,910,361
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,1438,502
4,2017,2,Eixample,5,el Fort Pienc,Male,1082,495

In [85]:
df_life_expectancy.head()

,Neighborhood,2006-2010,2007-2011,2008-2012,2009-2013,2010-2014,Gender
0,el Raval,87.5,84.9,84.7,84.9,85.3,Female
1,el Barri Gòtic,88.0,84.3,84.4,87.5,84.4,Female
2,la Barceloneta,88.2,85.3,84.4,86.3,84.7,Female
3,"Sant Pere, Santa Caterina i la Ribera",88.9,85.9,86.1,85.5,85.3,Female
4,el Fort Pienc,89.7,87.1,87.2,87.7,86.7,Female

In [86]:
df_baby_names.head()

   Order    Name  Gender  Year  Frequency
0      1   LAURA  Female  1996        237
1      2   MARIA  Female  1996        219
2      3   MARTA  Female  1996        206
3      4  ANDREA  Female  1996        199
4      5    ANNA  Female  1996        195

In [87]:
df_frequent_names.head()

   Order        Name  Gender       Decade  Frequency
0      1       MARIA  Female  Before 1930       2085
1      2      CARMEN  Female  Before 1930       1463
2      3      JOSEFA  Female  Before 1930       1032
3      4  MONTSERRAT  Female  Before 1930        879
4      5        ROSA  Female  Before 1930        762

In [88]:
df_population.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124

In [89]:
df_transports.head()

,Code,Transport,Longitude,Latitude,Station,District.Name,Neighborhood.Name
0,K001,Underground,2.119370,41.399203,FGC (L6) - REINA ELISENDA (Sortida Duquesa d'O...,Sarrià-Sant Gervasi,Sarrià
1,K001,Underground,2.135427,41.397791,FGC (L6) - LA BONANOVA-,Sarrià-Sant Gervasi,Sant Gervasi - Galvany
2,K001,Underground,2.185391,41.451492,METRO (L11) - CASA DE L'AIGUA (C. Vila-Real)-,Nou Barris,la Trinitat Nova
3,K001,Underground,2.174473,41.460889,METRO (L11) - CIUTAT MERIDIANA (C. Pedraforca)-,Nou Barris,Ciutat Meridiana
4,K001,Underground,2.168588,41.387200,METRO (L1) - CATALUNYA (Rda. Universitat)-,Eixample,la Dreta de l'Eixample

In [90]:
df_unemployment.head()

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2017,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2107
1,2017,January,1,Ciutat Vella,2,el Barri Gòtic,Male,Registered unemployed,538
2,2017,January,1,Ciutat Vella,3,la Barceloneta,Male,Registered unemployed,537
3,2017,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,741
4,2017,January,2,Eixample,5,el Fort Pienc,Male,Registered unemployed,630